<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="isologo col-sm-2">
        <a href="#">
          <span>Observatorio de la</span>
          <strong>Ciberseguridad</strong>
          <span>en latinoamérica y el Caribe</span>
        </a>
      </div>

      <div class="col-sm-10">
        <nav>
          <a href="#">Acerca de</a>
          <a href="#">Contribuidores</a>
          <a href="#">Informacion Institucional</a>
          <a href="#">Contacto</a>
        </nav>
        <p class="copy">© COPYRIGHT 2015</p>
      </div>
    </div>

  </div>
</footer>
