<header ng-controller="Header as vm">

  <div class="container-fluid">
    <div class="row">
      <h1 class="isologo col-xs-4">
        <a href="#">
          <span>Observatorio de la</span>
          <strong>Ciberseguridad</strong>
          <span>en latinoamérica y el Caribe</span>
        </a>
      </h1>

      <div class="col-xs-8">
        <div class="row">
          <div class="col-xs-2 col-sm-offset-2 hidden-xs col-md-offset-4">
            <nav class="lang">
              <a ng-class="{active: locale=='en'}" href="#" ng-click="vm.changeLocale('en')">en</a>
              <a ng-class="{active: locale=='es'}" href="#" ng-click="vm.changeLocale('es')">es</a>
            </ul>
          </div>
          <div class="col-sm-offset-0 col-sm-4 col-xs-offset-4 col-xs-4 col-md-3">
            <a href="#" class="oea">
              <img  src="/themes/demo/images/oea.png"/>
            </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-3">
            <a href="#" class="bid">
              <img  src="/themes/demo/images/bid.png"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
